@import "../../../assets/styles/vars";

.appHeader {
    padding: 8px;
    height: 52px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.98);
}

.container {
    transition: width 0.2s;
}

.headerTitle {
    float: left;
    vertical-align: top;
    font-size: 18px;
    font-weight: normal;
    margin: 0 15px 0 0;
    line-height: 34px;
}

.headerPrimary {
    float: left;
}

.headerControls {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    & > li {
        display: inline-block;
        vertical-align: middle;

        button {
            margin: 0 5px 0 0;
        }
    }
}

.btnLink {
    & > i {
        margin-right: 5px;
    }
    // &:hover {
    //     color: @linkColor;
    // }
}

.headerSecondary {
    float: right;
}

.search {
    position: relative;
    margin-right: 10px;
    transition: margin-left 0.4s;
}

.searchInput {
    overflow: hidden;
    color: @mainColor;
    input {
        float: left;
        width: 225px;
        padding-left: 32px;
        padding-right: 32px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
}

.btnLabel {
    transition: margin-right 0.1s;
}

.notificationDropdown {
    & > button {
        position: relative;
        width: 36px;
        i {
            font-size: 1.6rem;
            margin-left: -5px !important;
            position: relative;
            top: 1px;
            span {
                font-size: 0;
                font-weight: bold;
                width: 8px;
                height: 8px;
                background: @dangerColor;
                display: inline-block;
                line-height: 16px;
                border-radius: 50%;
                color: #fff;
                position: absolute;
                top: -3px;
                right: -2px;
            }
        }
    }
    & > ul {
        width: 300px;
        header {
            position: relative;
            padding: 3px 12px 8px;
            border-bottom: 1px solid @grayLightPair;
            h4 {
                margin: 0;
                color: @mainColor;
            }
            button {
                position: absolute !important;
                top: 5px;
                right: 10px;
                padding: 0;
            }
        }
        & > .body {
            ul {
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                & > p {
                    color: @muteColor;
                    padding: 30px 10px 20px;
                    text-align: center;
                }
                li {
                    padding: 5px 10px 0;
                    h4 {
                        margin: 0 0 5px;
                        word-break: break-all;
                        color: @darkColor;
                        line-height: 1;
                        font-size: 1.3rem;
                    }
                    p {
                        word-break: break-all;
                        line-height: 1.2;
                        color: @muteColor;
                        font-size: 1.2rem;
                    }
                    &:first-child {
                        padding-top: 10px;
                    }
                }
            }
        }
        & > li {
            &:last-child {
                a {
                    text-align: center;
                }
            }
        }
    }
}

.sessionDropdown {
    & > button {
        padding: 0 10px 0 2px;
        line-height: 36px;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    line-height: 36px;
    font-size: 1.6rem;
    margin: 2px 6px 2px 0;
    display: inline-block;
    vertical-align: bottom;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}

.logoutBtn {
    i {
        margin-top: 0 !important;
    }

    span {
        line-height: 16px;
        display: inline-block;
    }
}
