@import "../../../assets/styles/vars";

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    p {
        font-size: 1.3rem;
        line-height: 20px;
        margin: 0;
    }
    .copyIcon {
        margin-right: 5px;
        font-style: normal;
    }
    .status {
        font-size: 1.3rem;
        line-height: 20px;
        padding: 0 10px;
        color: #aaa;
    }
}
