@mainColor: #667c99;
@linkColor: #426799;
@linkHoverColor: darken(@linkColor, 5%);
@borderColor: #4d698e;
@textColor: #111;

// @primaryColor: #4d698e;
@primaryPairColor: darken(@primaryColor, 5%);
// @dangerColor: #d83e3e;

@primaryColor: #536f90; /* #20a0ff #1abc9c*/

@successColor: #2ecc71;
@warningColor: #f1c40f;
@dangerColor: #e74c3c;
@infoColor: #50bfff;
@secondaryColor: #1abc9c;
@whiteColor: #fff;
@blackColor: #111;
@darkColor: #34495e;

@gray: #7c7c7c;
@grayDark: #c7d2e1;

@grayLight: #e8ecf3;
@grayLighter: lighten(@grayLight, 5%);
@grayLightPair: darken(@grayLight, 5%);

@lightColor: #f3f6f9;

@muteColor: #aaa;

@stickyColor: #d13e32;
// social colors
@social-qq: #14b9f7;

// modal
@modalMaskBg: rgba(77, 105, 142, 0.9);
