@mainColor: #667c99;
@linkColor: #426799;
@linkHoverColor: darken(@linkColor, 5%);
@borderColor: #4d698e;
@textColor: #111;

@primaryColor: #4d698e;
@primaryPairColor: darken(@primaryColor, 5%);
@dangerColor: #d83e3e;

@darkColor: #111;

@gray: #7c7c7c;
@grayDark: #c7d2e1;

@grayLight: #e8ecf3;
@grayLightPair: darken(@grayLight, 5%);

@lightColor: #f3f6f9;

@muteColor: #aaa;

@stickyColor: #d13e32;
// social colors
@social-qq: #14b9f7;

// modal
@modalMaskBg: rgba(77, 105, 142, 0.9);
