@import "../../../assets/styles/vars";

.localEditor {
    position: relative;
    .editorWrapper {
        position: relative;
    }
    .editorToolbar {
        position: relative;
        // height: 50px;
    }
    .editor {
        position: relative;
        min-height: 160px;
        height: calc(~"100vh - 340px");
        padding: 0 10px;
        border: 1px solid @grayLight;
        font-size: 1.4rem;

        img {
            max-width: 100%;
        }
    }
}
